<!--
<p class="email-optin-box">
  Liked this post? <a id="post-email-optin" href="https://my.leadpages.net/leadbox/147fb3573f72a2%3A12ccd2806b46dc/5733935958982656/" target="_blank">Sign up here</a>
  <script type="text/javascript" src="//my.leadpages.net/leadbox-699.js"></script>
  to receive articles, screencasts and other Ember goodies regularly to your inbox.
</p>
-->
{% if page.perk == "common-ember-mistakes" %}
  <p class="email-optin-box">
    <a href="https://balinterdi.leadpages.net/leadbox/147fb3573f72a2%3A12ccd2806b46dc/5733935958982656/" target="_blank">Click here</a> to download the "Common Ember Mistakes - and how to avoid them"  paper.
    <script data-leadbox="147fb3573f72a2:12ccd2806b46dc" data-url="https://balinterdi.leadpages.net/leadbox/147fb3573f72a2%3A12ccd2806b46dc/5733935958982656/" data-config="%7B%7D" type="text/javascript" src="https://balinterdi.leadpages.net/leadbox-868.js"></script>
  </p>
{% endif %}
