<!--
<p class="email-optin-box">
  Liked this post? <a id="post-email-optin" href="https://my.leadpages.net/leadbox/147fb3573f72a2%3A12ccd2806b46dc/5733935958982656/" target="_blank">Sign up here</a>
  <script type="text/javascript" src="//my.leadpages.net/leadbox-699.js"></script>
  to receive articles, screencasts and other Ember goodies regularly to your inbox.
</p>
-->
{% if page.perk == "common-ember-mistakes" %}
  <script src="https://app.convertkit.com/landing_pages/2692.js"></script>
{% endif %}
{% if page.perk == "sample-chapter-download" %}
  <script src="https://app.convertkit.com/landing_pages/2664.js"></script>
{% endif %}
{% if page.perk == "complex-component-design" %}
  <script src="https://app.convertkit.com/landing_pages/3636.js"></script>
{% endif %}
