<section>
  <h1>Tame the dreaded Ember learning curve</h1>
  <div>
    <script data-leadbox="140ec4b73f72a2:12ccd2806b46dc"
            data-url="https://balinterdi.leadpages.co/leadbox/140ec4b73f72a2%3A12ccd2806b46dc/5747610597982208/"
            data-config="%7B%7D" type="text/javascript" src="https://balinterdi.leadpages.co/leadbox-881.js">
    </script>
    <a href="https://balinterdi.leadpages.co/leadbox/140ec4b73f72a2%3A12ccd2806b46dc/5747610597982208/"
       style="text-decoration:none"
       target="_blank">
      <img src="/images/rarwe-book.jpg" />
    </a>
  </div>
</section>
