<section>
  <h1>1k Customers Giveaway!</h1>
  <div>
    <a href="http://balinterdi.com/rock-and-roll-with-ember-1k-customers-giveaway/?utm_source=my-blog&utm_medium=sidebar&utm_campaign=1k-rarwe-customers-giveaway">Enter to win</a> one of the awesome prizes on the occasion that my book now has more than 1.000 customers.
  </div>
  <div>
    <a href="http://balinterdi.com/rock-and-roll-with-ember-1k-customers-giveaway/?utm_source=my-blog&utm_medium=sidebar&utm_campaign=1k-rarwe-customers-giveaway" style="text-decoration:none">
      <img src="/images/gleam-logo.png" alt="1k RARWE Customers Giveaway" title="1k RARWE Customers Giveaway" />
    </a>
  </div>
</section>
