<section>
  <h1>My submission to the AirPair Writing Comp.</h1>
  <p>
    <a href="https://www.airpair.com/javascript/posts/animations-in-emberjs-with-liquidfire">Animations in Ember.js with liquid-fire</a>
  </p>
  <p>
    <iframe width="260" height="130" src="https://www.youtube.com/embed/D_QbBQIW2OQ" frameborder="0" allowfullscreen></iframe>
  </p>
  <p>
    <a href="https://www.airpair.com/javascript/posts/animations-in-emberjs-with-liquidfire">Check out how the above animation (and others) work!</a>
  </p>
</section>
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
