/* CSS crunched with Crunch - http://crunchapp.net/ */
.bb-custom-wrapper>nav a,.price_block:hover .price,.price_block.special .price,.contentbody .benefits .items:hover{background:#2cde97;}
a,.headcontent .text-content h1,.content-title .separator-title h2,.contentbody .benefits .items i,.comment .testi .testi-profile .testi-name strong{color:#2cde97;}
.chapter .cprofile:hover{border-bottom:5px solid #2cde97;}
