<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }} : Codigo Ergo Sum</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    {% include site_feed.html %}
    {% include typekit.html %}
  </head>
  <body>
    <div id="top-bar">
      <ul>
        <li><a href="http://feeds.feedburner.com/codigoergosum">RSS</a></li>
        <li><a href="/archives.html">Archives</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="#main">Top ^</a></li>
      </ul>
    </div>
    <div id="content">
      <div id="header">
        <h1>
          <a id="home-title-link" href="/">Codigo Ergo Sum</a>
        </h1>
        <div id="latest-post-list">
          Latest posts:
          <ul>
            {% for post in site.posts limit:3 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- <h3 id="motto">Balint Erdi's tech blog</h3> -->
      </div>
      <div id="main">
        <div id="left">
          {{ content }}
          <div id="paginate_links">
            {% if paginator.previous_page %}
            <div class="newer"><a href="/{% unless paginator.previous_page == 1 %}page{{paginator.previous_page}}/{% endunless %}">« Newer posts</a></div>
            {% endif %}
            {% if paginator.next_page %}
            <div class="older"><a href="/page{{paginator.next_page}}/">Older posts »</a></div>
            {% endif %}
          </div>
        </div> <!-- left -->  
        <div id="right">
          {% include badges.html %}
        </div> <!-- right -->

      </div> <!-- main -->
    </div> <!-- content -->
    {% include comment_counter.html %}
  </body>
</html>