<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }} : Codigo Ergo Sum</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  </head>
  <body>
    <div id="top-bar">
      <ul>
        <li><a href="http://feeds.feedburner.com/bucionrails">RSS</a></li>
        <li><a href="http://bucionrails.com/archives">Archives</a></li>
        <li><a href="http://bucionrails.com/about">About</a></li>
        <li><a href="#post-{{site.posts.first.id}}">Top ^</a></li>
      </ul>
    </div>
    <div id="content">
      <div id="header">
        <h1>
          <!-- <span id="title-buci">Buci</span>
          <span id="title-on">On</span>
          <span id="title-rails">Rails</span> -->
          So let me tell you this.
        </h1>
        <div id="recent-post-list">
          Recent posts:
          <ul>
            {% for post in site.posts limit:3 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- <h3 id="motto">Balint Erdi's tech blog</h3> -->
      </div>
      <div id="main">
        <div id="left">
          {{ content }}
        </div> <!-- left -->  
        <div id="right">
          <div id="wwr-recommend-me">
            <a title="Recommend me" href="http://workingwithrails.com/recommendation/new/person/12103-b-lint-rdi"><img alt="Recommend Me" src="/images/wwr-compact-small-button.jpg" border="0" /></a>
          </div>
          <div id="twitter-follow">
            <a href="http://twitter.com/baaz" title="Follow me on twitter">
              <img src="/images/twitter-magenta.png" border="0" />
            </a>
          </div>
        </div> <!-- right -->

      </div> <!-- main -->
    </div> <!-- content -->
    {% include comment_counter.html %}
  </body>
</html>